:root{
    --primary-color:#FF42A5;
    --lite-blue:#4EC5F7;
    --gray:rgba(255, 255, 255, 0.60);
    --black:#0B0223;
    --drack-nesh:#534C64;
    --drack-nesh-one:#3C354F;
    --white:#FFF;
}
/* *{
    margin: 0;
    padding: 0;
} */
/* shear style */
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.justify-betweem{
    justify-content: space-between;
}
.item-center{
    align-items: center;
}
.btn-primary-style{
    padding: 21px 40px;
    border-radius: 48px;
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    border:none;
    cursor: pointer;
}
.btn-primary-style:hover{
    background: linear-gradient(150deg, #F948B2 0%, #8758F1 100%);
}
.linear-gradient{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.size-container{
    max-width: 1440px;
    margin: 0 auto;
}
.secend-size{
    max-width: 800px;
    margin: 0 auto;
}

body{

    margin-top: 37px;
    font-family: 'Work Sans', sans-serif;
}
/* nav style */
.nav-container{
    max-width: 1440px;
    margin: 0 auto;
}
nav .left-container img{
    width: 86px;
    height: 40px;
}
nav .left-container{
    gap: 20px;
}
nav .left-container h1{
    font-size: 2.8rem;
    font-weight: 700;
}
nav .left-container h1 span{
    color: var(--primary-color);
}
nav .right-container ul{
    list-style: none;
    justify-content: space-between;
    gap: 32px;
}
nav .right-container ul li a{
    text-decoration: none;
    color: var(--drack-nesh-one);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .3s ease;
}
.ul-one a{
    transition: all .3s ease;
}
.ul-one a:hover{
    color: var(--primary-color);
}

.follow-social-media ul{
    background-color: rgba(11, 2, 35, 0.10);
    border-radius: 10px;
    padding: 17px 24px;
    margin-left: 32px;
    transition: all .3s ease;

}
.follow-social-media ul a{
    transition: all .3s ease;
}
.follow-social-media ul a:hover{
    color: var(--white);

}


.follow-social-media ul:hover{
    background-color: var(--primary-color);
}

/* banner style */
.banner-container{
    max-width: 1440px;
    margin: 0 auto;
}
.banner-background, .gamer-background{
    background-image: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.banner-container h2{
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
}
.banner-container h1{
    font-weight: 800;
    text-transform: uppercase;
    font-size: 5.9rem;
    margin: 0;
}
.banner-container h1 >p{
    color: var(--drack-nesh);
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: lowercase;
}
.banner-container .btn-container{
    margin-top: 40px;
}
.btn-lite-blue{
    background-color: var(--lite-blue);
    margin-left: 0.8rem;
    cursor: pointer;
}
.btn-lite-blue:hover{
    background: linear-gradient(150deg, #F948B2 0%, #8758F1 100%);
}
.right-container img{
    height: 100%;
}
/* gamer section style */
.gamer-container img{
    width: 100%;
}
.gamer-content{
    text-align: right;
}
.gamer-content h2{
    font-size: 3rem;
    font-weight: 700;
    margin-top: 92px;
    margin-bottom: 24px;
}
.gamer-content p{
    color: var(--drack-nesh);
    font-size: 1.125rem;
    line-height: 30px;
    margin-bottom: 30px;
}
.gamer-content .purpose{
    color: var(--drack-nesh-one);
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 24px;
    margin-bottom: 20px;
}
.gamer-content .unleash{
    color: var(--drack-nesh-one);
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}
/* online gamer style */
.online-games-container{
    margin-top: 120px;
    margin-bottom: 120px;
}
.online-games-heading{
    text-align: center;
    margin-bottom: 48px;
}
.online-games-heading h2{
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
}
.online-games-container .card-warp{
    justify-content: space-evenly;
    gap: 24px;
}
.card-warp .card >img{
    border-radius: 8px;
    margin: 0;
    transition: all 0.3s ease;
    position: relative;
}

.card{
    position: relative;
}
.card-warp .card >p{
    color: var(--drack-nesh-one);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 30px;
}

.card-img{
    position: relative;
}
.card-img img{
    display: block;
    margin: auto;
}
.img-hover{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    opacity: 0;
    transform: 0.3s;
    border-radius: 16px;
    border: 5px solid var(--primary-color);
    background: rgba(0, 0, 0, 0.60) 50%;
    transition: all 0.3s ease-out;
    cursor: pointer;
}
.img-hover img{
    margin: 0;
}
.img-hover:hover{
    opacity: 1;
}
.img-hover p{
    font-size: 1.25rem;
    font-weight: 600;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



/* Instantly play */
.instantly-img-container{
    position: relative;
}
.lady-tom{
    position: absolute;
    bottom: -9%;
    left: -22%;
}
.gun-man{
height: 70%;
}
.instantly-text-container h2{
    font-size: 3rem;
    font-weight: 600;
}
.instantly-text-container span{
    color: var(--primary-color);
}
.instantly-text-container p{
    color: var(--drack-nesh-one);
    font-size: 1.125rem;
    line-height: 30px;

}
.instantly-text-container{
    margin-left: 199px;
}
/* game galary */

.game-galary-back{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    margin-top: 150px;
    height: 427px
}
.btn-1{
    width: 15rem;
    height: 5rem;
    background: var(--white);
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0B0223;
    font-size: 1.25rem;
    font-weight: 600;
    padding-left: 5rem;
    justify-content: space-between;
    border: 2px solid transparent;
    transition: all .3s ease-in;
    cursor: pointer;
    position: relative;

}
.btn-1:hover{
    border: 2px solid var(--primary-color);
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn-1 img {
    position: absolute;
    left: 6px;
    height: 3.75rem;
    width: 3.75rem;
    top: 7px;
    border: 1px solid var(--white);
    border-radius: 50%;
}
.game-1,.game-2{
 display: flex;
 gap: 3rem;
 justify-content: center;

}
.game-2{
    margin-top: 37px;
}






/* footer style */
.footer-container{
    text-align: center;
    padding-top: 30px;
}
.footer-background{
    background-color: #0B0223;
;
    padding-bottom: 50px;
}
.footer-container .logo{
    justify-content: center;
    
}
.footer-container .logo img{
    width: 5%;
    height: 5%;
    margin-right: 20px;
}
.footer-container .logo h1{
    color: var(--white);
}
.footer-container .logo span{
    color: var(--primary-color);
}

.footer-container .all-socials li{
    list-style: none;
}
.footer-container .all-socials ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 40px 25px 5px 0;
}



.footer-background p{
    color: var(--white);
    text-align: center;
    color: rgba(255, 255, 255, 0.60);
    font-weight: 500;
    margin-top: 28px;
}
.privacy-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
}
.all-services{
    max-width: 850px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    margin-top: 40px;
}
.all-services a{
    text-decoration: none;
    color: var(--white);
    font-size: 1.125rem;
    transition: all 0.3s ease;
}
.all-services a:hover{
 color: var(--primary-color);
}
.privacy-container a{
    color: rgba(255, 255, 255, 0.60);
    font-weight: 500;
    text-decoration: none;
}










/* mobile varsion */
@media screen and (max-width:425px){
    .btn-primary-style{
        padding: 15px 20px;
    }

    .nav-container,
    nav .right-container{
        flex-direction: column;
    }
    .follow-social-media{
        margin-top: 3px;
        margin-left: 0;
    }

    nav .right-container .ul-one{
        flex-direction: column;
        text-align: center;
        margin-left: -32px;
        margin-right: 25px;
        
    }

    .banner-container{
        flex-direction: column-reverse;
        justify-content: center;
    }
    .left-container{
        background-image: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);;
        margin-top: 25px; 
    }
    .left-container h1{
        font-size: 5rem;
    }
    .right-container img{
        width: 80%;
        margin-left: 30px;
        
    }
    .gamer-container{
        flex-direction: column;
    }
    .gamer-content{
        text-align: center;
    }
    .gamer-content h2{
        margin-top: 61px;
    }
    .gamer-content .unleash{
        font-size: 1.5rem;
    }
    .card-warp{
        flex-direction: column;
    }
    .card-warp .card >img{
        width: 80%;
        margin-left: 50px;
    }
    .card-warp .card>p {
        font-size: 1rem;
        padding-left: 50px;
    }
    .instantly-play-container{
        flex-direction: column;
    }
    .gun-man{
        width: 70%;
        margin-left: 20%;
    }
    .lady-tom{
        width: 30%;
        padding-left: 25%;
        margin-left: 10%;
    }
    .instantly-text-container{
        text-align: center;
        margin-right: 50%;
    }

    .footer-container .logo img{
        width: 15%;
        height: 15%;
    }
    .privacy-container{
        grid-template-columns: 1fr 1fr;
        gap: 18px;
    }
    .all-services{
        grid-template-columns: 1fr 1fr ;
        gap: 18px;
    }
    .first-galary,
    .secend-galary{
        max-width: 400px;
        margin: 0 auto;
        grid-template-columns: 1fr 1fr ;
        gap: 10px;
    }

    .game-1,.game-2{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-area: auto;
        padding: -50px;
        margin-bottom: 50px;

    }
    .btn-1{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 7rem;
        height: 2.5rem;
        color: #0B0223;
        font-size: .8rem;
        padding-left: 4rem;
        padding-right: 1rem;
        position: relative;
    
    }
    .btn-1 img {
    position: absolute;
    left: 6px;
    height: 1.5rem;
    width: 1.5rem;
    top: 7px;
    border: 1px solid var(--white);
    border-radius: 50%;
}
.game-1{
    max-width: 420px;
}

}





/* table version */
@media screen and (min-width:426px)and (max-width:960px) {
    .nav-container,
    .gamer-container{
        flex-direction: column;
        align-items: center;
    }
    .banner-container{
        flex-direction: column-reverse;
        justify-content: center;
    }
    .right-container{
        margin-bottom: 30px;
    }
    .banner-background.right-container img{
        width: 70%;   
    }
    .ul-one a{
        margin-top: 50px;
    }
    .gamer-content{
        text-align: center;
    }
    .gamer-container .gamer-img{
        margin-top: 20px;
    }
    .card-warp{
        flex-direction: column;
    }
    .card-warp .card >img{
        width: 80%;
        margin-left: 70px;
    }
    .card-warp .card>p{
        padding-left: 110px;
    }
    .instantly-play-container{
        flex-direction: column;
    }
    .gun-man{
        width: 70%;
        margin-left: 20%;
    }
    .lady-tom{
        width: 30%;
        padding-left: 25%;
        margin-left: 10%;
    }
    .instantly-text-container{
        text-align: center;
        margin-right: 20%;
    }
    .all-services{
        grid-template-columns: 1fr 1fr 1fr;
        gap: 18px;
    }
    .first-galary{
        max-width: 400px;
        margin: 0 auto;
        grid-template-columns: 1fr 1fr ;
        gap: 10px;
    }
    .secend-galary{
        max-width: 400px;
        margin: 0 auto;
        grid-template-columns: 1fr 1fr ;
        gap: 10px;
    }

    .game-1,.game-2{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-area: auto;
        /* padding: -50px; */
        margin-bottom: 50px;
    }
    .btn-1{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 7rem;
        height: 2.5rem;
        color: #0B0223;
        font-size: .8rem;
        /* padding-left: 4rem;
        padding-right: 1rem; */
        position: relative;
        /* background-color: #0B0223; */
        line-height: 1;
        font-weight: 500;
    
    }
    .btn-1 img {
    position: absolute;
    left: 2px;
    height: 2rem;
    width: 2rem;
    top:2px;
    bottom: 2px;
    border: 1px solid var(--white);
    border-radius: 50%;
}

}
@media screen and (min-width:960px)and (max-width:1439px) {
    .online-games-container .card-warp{
        flex-wrap: wrap;
        padding-left: 5px;
    }
    .game-1,.game-2{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-area: auto;
        /* padding: -50px; */
        margin-bottom: 50px;
    }
    .btn-1{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 7rem;
        height: 2.5rem;
        color: #0B0223;
        font-size: .8rem;
        /* padding-left: 4rem;
        padding-right: 1rem; */
        position: relative;
        /* background-color: #0B0223; */
        line-height: 1;
        font-weight: 500;
    
    }
    .btn-1 img {
    position: absolute;
    left: 2px;
    height: 2rem;
    width: 2rem;
    top:2px;
    bottom: 2px;
    border: 1px solid var(--white);
    border-radius: 50%;
}

}